a {
    text-decoration: none;
}

.ganira-net {
    color: #d28622 !important;
}

.insta {
    background-color: #f09433;
    background-image: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-image: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.uk-heading-xlarge {
    font-family: GreatVibes !important;
    color: #d28622 !important;
    text-shadow: -2px 2px 4px #ffffff,
    2px 2px 2px #ffffff,
    2px -2px 0 #ffffff,
    -2px -2px 0 #ffffff;
}

#banner {
    height: 600px;
}

.uk-navbar-container {
    background: #f5f3f2 !important;
}

body {
    background-color: #f5f3f2;
}

@font-face {
    font-family: 'GreatVibes';
    font-style: normal;
    font-weight: 400;
    src: local('GreatVibes'), url(/fonts/GreatVibes.otf) format('truetype');
}