.ganira-net {
    color: #d28622 !important;
}

.living {
    font-family: GreatVibes !important;
    color: #d28622 !important;
    text-shadow: -2px 2px 4px #ffffff,
    2px 2px 2px #ffffff,
    2px -2px 0 #ffffff,
    -2px -2px 0 #ffffff;
}

#banner {
    height: 600px;
}

.uk-navbar-container {
    background: #f5f3f2 !important;
}

body {
    background-color: #f5f3f2;
}

@font-face {
    font-family: 'GreatVibes';
    font-style: normal;
    font-weight: 400;
    src: local('GreatVibes'), url(/fonts/GreatVibes.otf) format('truetype');
}